@keyframes blink-warning {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @error_color;
  }
}

/* Reset all styles */
* {
  border-radius: 4;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #232831;
  color: #bcbec1;
  font-family: "Adwaita";
  /* font-weight: bold; */
  font-size: 13px;
}

window#waybar {
  border-radius: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 0px 2px;
  margin: 0px 3px;
}

#workspaces button {
  /* To compensate for the top border and still have vertical centering */
  padding: 2px 3px;
  margin: 2px 1px;
  color: #bcbec1;
  border: solid rgba(150, 150, 150, 0.8) 1px;
}

#workspaces button.active {
  border: solid rgba(150, 150, 150, 0.8) 1px;
  color: #bcbec1;
  font-weight: bold;
  border: solid white 1px;
}

#workspaces button.focused {
  border: solid rgba(150, 150, 150, 0.8) 1px;
  font-weight: bold;
  color: #bcbec1;
  border: solid white 1px;
}

#workspaces button.infocused {
  border: solid rgba(150, 150, 150, 0.8) 1px;
  color: red;
  border: solid white 1px;
}

#workspaces button.persistent {
  border: solid rgba(150, 150, 150, 0.8) 1px;
  color: red;
  border: solid white 1px;
}

#workspaces button.urgent {
  border-color: #30b9d9;
  color: #30b9d9;
  border: solid blue 1px;
}

#mode {
}

#custom-logo,
#pulseaudio,
#clock,
#custom-playerctl,
#custom-power,
#custom-playerctl,
#custom-weather,
#custom-clipboard,
#custom-menu,
#custom-cpu-freq,
#custom-net,
#battery,
#cpu,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#custom-close,
#custom-telegram,
#custom-dolphin,
#custom-firefox,
#temperature,
#custom-cpu,
#custom-ram,
#custom-clock,
#custom-temp,
#temperature,
#custom-close,
#idle_inhibitor {
  border: solid rgba(150, 150, 150, 0.8) 1px;
  padding-left: 10px;
  color: #bcbec1;
  padding-right: 10px;
  margin: 2px 2px;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #bcbec1;
}

#battery.warning {
  color: @warning_color;
}

#battery.critical {
  color: @error_color;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: @wm_icon_bg;
}

#pulseaudio.muted {
  color: @wm_icon_bg;
}

#custom-wf-recorder {
  color: @error_color;
  padding-right: 10px;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
  color: #30b9d9;
}
