@define-color wb_border_selected @theme_selected_bg_color;
@define-color wb_selected @theme_unfocused_selected_bg_color;
@define-color wb_border @borders;
@define-color wb_text @theme_text_color;
@define-color wb_background @theme_bg_color;

@keyframes blink-warning {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  70% {
    color: @wm_icon_bg;
  }

  to {
    color: @wm_icon_bg;
    background-color: @error_color;
  }
}

/* Reset all styles */
* {
  border-radius: 4;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @wb_background;
  color: @wb_text;
  font-family: "Adwaita";
  /* font-weight: bold; */
  font-size: 13px;
}

window#waybar {
  border-radius: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 0px 2px;
  margin: 0px 3px;
}

#workspaces button {
  /* To compensate for the top border and still have vertical centering */
  padding: 2px 3px;
  margin: 2px 1px;
  color: @wb_text;
  border: solid @wb_border 1px;
}

#workspaces button.active {
  border: solid @wb_border_selected 1px;
  color: @wb_text;
  font-weight: bold;
}

#workspaces button.focused {
  border: solid @wb_text 1px;
  font-weight: bold;
  color: @wb_text;
}

#workspaces button.infocused {
  border: solid @wb_border 1px;
  color: red;
  border: solid @wb_border 1px;
}

#workspaces button.persistent {
  border: solid @wb_border 1px;
  color: @error_color;
  border: solid @wb_border 1px;
}

#workspaces button.urgent {
  border-color: #30b9d9;
  color: @wb_text;
  border: solid blue 1px;
}


#custom-logo,
#clock,
#custom-playerctl,
#custom-power,
#custom-playerctl,
#custom-weather,
#custom-clipboard,
#custom-menu,
#custom-cpu-freq,
#custom-net,
#battery,
#cpu,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#custom-close,
#custom-telegram,
#custom-dolphin,
#custom-firefox,
#temperature,
#custom-cpu,
#custom-ram,
#custom-clock,
#custom-temp,
#temperature,
#systemd-failed-units,
#wireplumber,
#cava,
#custom-close,
#idle_inhibitor {
  border: solid @wb_border 1px;
  color: @wb_text;
  /* text-align: center; */
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px 2px;
}

#power-profiles-daemon,
#pulseaudio,
#network {
  border: solid @wb_border 1px;
  color: @wb_text;
  /* text-align: center; */
  padding-left: 10px;
  padding-right: 16px;
  margin: 2px 2px;
}


#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @wb_text;
}

#battery.warning {
  color: @warning_color;
}

#battery.critical {
  color: @error_color;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: @wb_text;
}

#pulseaudio.muted {
  color: @wb_text;
}

#custom-wf-recorder {
  color: @wb_text;
  padding-right: 10px;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#idle_inhibitor {}

#idle_inhibitor.activated {
  color: @wb_selected;
}
