@keyframes blink-warning {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @error_color;
    }
}

/* Reset all styles */
* {
    border-radius: 4;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: rgba(35, 35, 35, 0.8);
    color: white;
    font-family: "Noto Sans";
    font-size: 13px;
}

#window {
}

window#waybar {
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    /* To compensate for the top border and still have vertical centering */
    padding: 2px 3px;
    margin: 2px 1px;
    color: gray;
    border: solid rgb(50, 50, 50) 1px;
    background-color:  rgba(35, 35, 35, 0.6);
}

#workspaces button.focused {
    border-color: rgba(35, 35, 35, 0.6);
    color: white;
    background-color: rgba(35, 35, 35, 0.6);
    border: solid white 1px

}

#workspaces button.urgent {
    border-color: @error_color;
    color: @error_color;
    border: solid blue 1px

}

#mode {
    background: rgba(36, 35, 35, 0.6);
}

#clock,
#custom-playerctl,
#custom-power,
#custom-weather,
#custom-clipboard,
#custom-menu,
#battery,
#cpu,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#custom-temp,
#custom-close,
#custom-telegram,
#custom-dolphin,
#custom-firefox,
#temperature,
#custom-cpu,
#custom-ram,
#idle_inhibitor {
    border: solid rgba(100, 100, 100, 0.6) 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px 2px;
}
#custom-temp,
#temperature,
#tray,
#custom-close {
    background: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

/* #taskbar{
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px 2px;
    background: #353535;
    color: @theme_selected_fg_color;
} */
#taskbar {
    border: solid rgba(100, 100, 100, 0.6) 1px;
    background:  rgba(36, 35, 35, 0.6);
}


#taskbar button {
    /* border: solid rgba(60, 60, 60, 0.6) 1px; */
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px 2px;
    color: rgba(36, 35, 35, 0.6);
}

#clock {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#custom-playerctl {
    background: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#custom-power {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#custom-temp {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#custom-clipboard {
    background: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#custom-menu {
    background: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}
#custom-telegram,
#custom-dolphin,
#custom-firefox,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

label:focus {
    background-color: rgba(36, 35, 35, 0.6);
}

#cpu {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#language {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#memory {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#custom-gpu-usage {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#network {
    background: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#network.disconnected {
    background:rgba(36, 35, 35, 0.6);
    color: @wm_icon_bg
}

#pulseaudio {
    background: rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}

#pulseaudio.muted {
    background: rgba(36, 35, 35, 0.6);
    color: @wm_icon_bg;
}

#custom-wf-recorder {
    color: @error_color;
    padding-right: 10px;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#idle_inhibitor {
    background:rgba(36, 35, 35, 0.6);
}

#idle_inhibitor.activated {
    background:rgba(36, 35, 35, 0.6);
    color: @theme_selected_fg_color;
}