@define-color theme_bg_color #0B272B;
@define-color theme_selected_fg_color #413555;
@define-color theme_unfocused_selected_bg_color #6D6370;
@define-color theme_color_text #DEE2E2;
@define-color theme_unfocused_base_color #6D6370;
@define-color borders #B1B6B7;
@define-color theme_selected_bg_color #574C62;

* {
  font-family: "Adwaita Mono";
}

window {
  background-color: @theme_bg_color;
  border-radius: 16px;
  border: solid @theme_unfocused_selected_bg_color 1px;
}

#input {
  margin: 5px;
  border-radius: 16px;
  border: solid @theme_selected_fg_color 1px;
  background-color: @theme_bg_color;
  color: @theme_text_color;
}

#inner-box {
  border-radius: 16px;
  background-color: @theme_bg_color;
}

#outer-box {
  border-radius: 16px;
  margin: 2px;
  padding: 10px;
  background-color: @theme_bg_color;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: @theme_color_text;
}

#entry {
  border-radius: 0px;
  border-bottom: solid @borders 1px;
  background: @theme_unfocused_base_color;
}

#entry:nth-child(even) {
  background-color: @theme_bg_color;
  border-radius: 0px;
  border-bottom: solid @borders 1px;
}

#entry:selected {
  border-radius: 10px;
  background-color: @theme_selected_bg_color;
}

#text:selected {
  background: transparent;
}
