/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */
* {
  font-family: Source Code Pro;
}

window {
  background-color: #7c818c;
}

#input {
  margin: 1px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid white;
  background-color: #383c4a;
  color: white;
}

#inner-box {
  background-color: #383c4a;
}

#outer-box {
  margin: 1px;
  padding: 20px;
  background-color: #383c4a;
}

#scroll {
}

#text {
  padding: 5px;
  color: white;
}

#entry:nth-child(even) {
  background-color: #404552;
}

#entry:selected {
  background-color: #5291e2;
}

#text:selected {
}
