/* /* ::root{ */
*/
/* /*     --accent: #5291e2; */
*/
/* /*     --dark: #383C4A; */
*/
/* /*     --light: #7C818C; */
*/
/* /*     --ld: #404552; */
*/
/* /*     --dl: #4B5162 */
*/
/* /*     --white: white; */
*/
/* /* } */
*/

/* * { */
/*   font-family: Source Code Pro; */
/* } */
/**/
/* window { */
/*   background-color: #7c818c; */
/* } */
/**/
/* #input { */
/*   margin: 1px; */
/*   border-radius: 0px; */
/*   border: none; */
/*   border-bottom: 2px solid white; */
/*   background-color: #383c4a; */
/*   color: white; */
/* } */
/**/
/* #inner-box { */
/*   background-color: #383c4a; */
/* } */
/**/
/* #outer-box { */
/*   margin: 1px; */
/*   padding: 20px; */
/*   background-color: #383c4a; */
/* } */
/**/
/* #scroll { */
/* } */
/**/
/* #text { */
/*   padding: 5px; */
/*   color: white; */
/* } */
/**/
/* #entry:nth-child(even) { */
/*   background-color: #404552; */
/* } */
/**/
/* #entry:selected { */
/*   background-color: #5291e2; */
/* } */
/**/
/* #text:selected { */
/* } */
* {
  font-family: "Adwaita Mono";
}

window {
  background-color: @theme_bg_color;
  border-radius: 16px;
  border: solid @theme_unfocused_selected_bg_color 1px;
}

#input {
  margin: 5px;
  border-radius: 16px;
  border: solid @theme_selected_fg_color 1px;
  background-color: @theme_bg_color;
  color: @theme_text_color;
}

#inner-box {
  border-radius: 16px;
  background-color: @theme_bg_color;
}

#outer-box {
  border-radius: 16px;
  margin: 2px;
  padding: 10px;
  background-color: @theme_bg_color;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: @theme_color_text;
}

#entry {
  border-radius: 0px;
  border-bottom: solid @borders 1px;
  background: @theme_unfocused_base_color;
}

#entry:nth-child(even) {
  background-color: @theme_bg_color;
  border-radius: 0px;
  border-bottom: solid @borders 1px;
}

#entry:selected {
  border-radius: 10px;
  background-color: @theme_selected_bg_color;
}

#text:selected {
  background: transparent;
}
